{% extends 'base.html'%} {% block content %}
{% include 'flash_messages.html' %}
<section class="section-add-recipe">
  <div class="container">
    <div class="mt-2">
    <h1>Add your awesome recipe</h1>
  </div>
    <hr>
  <form method="POST" action="" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label(class="form-control-label") }} {% if form.title.errors
      %} {{ form.title(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.title.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.title(class="form-control form-control-lg") }} {% endif
      %}
    </div>
    <div class="form-group">
      {{ form.description.label(class="form-control-label") }} {% if
      form.description.errors %} {{ form.description(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.description.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.description(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.category_name.label(class="form-control-label")  }}
      {{  form.category_name(class="form-control form-control-lg")  }}
    </div>
    <div class="form-group">
      {{ form.ingredients.label(class="form-control-label") }} {% if
        form.ingredients.errors %} {{ form.ingredients(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.ingredients.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.ingredients(class="form-control form-control-lg") }} {%
        endif %}
    </div>

    <div class="form-group">
      {{ form.directions.label(class="form-control-label") }} {% if
      form.directions.errors %} {{ form.directions(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.directions.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.directions(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.preparation_time.label(class="form-control-label") }} {% if
      form.preparation_time.errors %} {{ form.preparation_time(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.preparation_time.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.preparation_time(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.cooking_time.label(class="form-control-label") }} {% if
      form.cooking_time.errors %} {{ form.cooking_time(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.cooking_time.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.cooking_time(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.calories.label(class="form-control-label") }} {% if
      form.calories.errors %} {{ form.calories(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.calories.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.calories(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.protein.label(class="form-control-label") }} {% if
      form.protein.errors %} {{ form.protein(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.protein.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.protein(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.carbohydrates.label(class="form-control-label") }} {% if
      form.carbohydrates.errors %} {{ form.carbohydrates(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.carbohydrates.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.carbohydrates(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    <div class="form-group">
      {{ form.cholesterol.label(class="form-control-label") }} {% if
      form.cholesterol.errors %} {{ form.cholesterol(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.cholesterol.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.cholesterol(class="form-control form-control-lg") }} {%
      endif %}
    </div>
    
    <div class="form-group">
      <div class="custom-file">
      {{ form.recipe_image(class="custom-file-input") }}
      {{ form.recipe_image.label(class="custom-file-label") }}
    </div>
      {% if form.recipe_image.errors %}
          {% for error in form.recipe_image.errors %}
              <span class="text-danger" style="font-size: 80%;">{{ error }}</span></br>
          {% endfor %}
      {% endif %}
  </div>
  <hr>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-success btn-lg") }}
    </div>
  </form></div>
</section>

{% endblock %}
