{% extends 'base.html'%} {% block content %}

<!-- Homepage banner section -->
<section class="jumbotron homepage-banner">
  <div class="container homepage-title-container">
    <div class="d-block header-title">
      <h1 class="text-white">BBQ World</h1>
    </div>
    <div class="header-sub-title">
      <p class="lead text-white">
        Take your grilling to the next level....
      </p>
    </div>
  </div>
</section>

<!-- Categories section -->
<section class="py-5 bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <h4 class="card-title pt-2 uppercase text-center">Meat</h4>
          <div class="card-img">
            <img
              src="{{url_for('static', filename='assets/images/default-bbq-810545_640.jpg')}}"
              class="img-fluid"
              alt="BBQ Meat"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Featuring grilled steak, chicken, and pork, they're some of our
              very favorite recipes. We love them for family dinners and weekend
              parties.
            </p>
            <div class="total-per-category">
              <small class="text-muted">{{total_meat_recipes}} recipes</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <h4 class="card-title pt-2 uppercase text-center">Seafood</h4>
          <div class="card-img">
            <img
              src="{{url_for('static', filename='assets/images/default-bbq-810545_640.jpg')}}"
              class="img-fluid"
              alt="BBQ Seafood"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Seafood on the BBQ plate? Fast, easy and delicious. What would you
              like more, except for a cold beer?
            </p>
            <div class="total-per-category">
              <small class="text-muted"
                >{{total_seafood_recipes}} recipes</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <h4 class="card-title pt-2 uppercase text-center">Vegetarian</h4>
          <div class="card-img">
            <img
              src="{{url_for('static', filename='assets/images/default-bbq-810545_640.jpg')}}"
              class="img-fluid"
              alt="BBQ Vegetarian"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              Who says BBQ is only for meat lovers? We are sure you will find
              your favorite vegetarian grilling recipe.
            </p>
            <div class="total-per-category">
              <small class="text-muted"
                >{{total_vegetarian_recipes}} recipes</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
