{% extends 'base.html'%} {% block content %}

<!-- Homepage banner section -->
<section class="jumbotron homepage-banner">
  <div class="container homepage-title-container">
    <div class="d-block header-title">
      <h1 class="text-white">BBQ World</h1>
    </div>
    <div class="header-sub-title">
      <p class="lead text-white">
        Take your grilling to the next level....
      </p>
    </div>
  </div>
</section>

<!-- Categories section -->
<section class="py-5 bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <a href="{{ url_for('meat_recipes') }}">
            <h4 class="card-title pt-2 uppercase text-center">
              BBQ with meat
            </h4></a
          >
          <div class="card-img">
            <a href="{{ url_for('meat_recipes') }}">
              <!-- Credits Pixabay user: ReinhardThrainer / https://pixabay.com/nl/photos/biefstuk-tomahawk-steak-grillen-4342500/ -->
              <img
                src="{{url_for('static', filename='assets/images/steak-4342500_640.jpg')}}"
                class="img-fluid"
                alt="BBQ Meat"
            /></a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Featuring grilled steak, chicken, and pork, they're some of our
              very favorite recipes. We love them for family dinners and weekend
              parties.
            </p>
            <div class="total-per-category">
              <small class="text-muted">{{total_meat_recipes}} recipes</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <a href="{{ url_for('seafood_recipes') }}"
            ><h4 class="card-title pt-2 uppercase text-center">
              BBQ with seafood
            </h4></a
          >
          <div class="card-img">
            <a href="{{ url_for('seafood_recipes') }}">
              <!-- Credits Pixabay user: Werasak / https://pixabay.com/nl/photos/gegrilde-inktvis-squid-grill-eten-1446233/ -->
              <img
                src="{{url_for('static', filename='assets/images/grilled-squid-1446233_640.jpg')}}"
                class="img-fluid"
                alt="BBQ Seafood"
            /></a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Seafood on the BBQ plate? Fast, easy and delicious. What would you
              like more, except for a cold beer?
            </p>
            <div class="total-per-category">
              <small class="text-muted"
                >{{total_seafood_recipes}} recipes</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm h-100">
          <a href="{{ url_for('vegetarian_recipes') }}"
            ><h4 class="card-title pt-2 uppercase text-center">
              Vegetarian
            </h4></a
          >
          <div class="card-img">
            <a href="{{ url_for('vegetarian_recipes') }}">
              <!-- Credits Pixabay user: Einladung_zum_Essen / https://pixabay.com/nl/photos/spit-antipasti-tomaten-olijven-2397041/ -->
              <img
                src="{{url_for('static', filename='assets/images/spit-2397041_640.jpg')}}"
                class="img-fluid"
                alt="BBQ Vegetarian"
            /></a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Who says BBQ is only for meat lovers? We are sure you will find
              your favorite vegetarian grilling recipe.
            </p>
            <div class="total-per-category">
              <small class="text-muted"
                >{{total_vegetarian_recipes}} recipes</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
