{% extends 'base.html'%} {% block content %}
<section class="section-my-recipes">
  {% if recipe_list %}
  <div class="accordion" id="my-recipe-accordion">
    {% for recipe in recipe_list %}
    <div class="card">
      <div class="card-header" id="heading{{ recipe.recipe_id }}">
        <div class="row">
          <div class="col-md-10">
          <h2 class="mb-0 my-recipe-title">
            <button
              type="button"
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapse-item{{ recipe.recipe_id }}"
            >
              <i class="fa fa-plus mr-2"></i> {{ recipe.title }}
            </button></div>
            <div class="col-md-2 d-flex align-items-center">
            <a href="{{ url_for('edit_recipe', recipe_id = recipe.recipe_id) }}" class="edit"><i class="fa fa-edit mx-1"></i></a>
            <a href="{{ url_for('delete_recipe', recipe_id = recipe.recipe_id) }}" class="trash"><i class="fa fa-trash mx-1"></i></a></div>
          </h2>
        </div>
      </div>
      <div
        id="collapse-item{{ recipe.recipe_id }}"
        class="collapse"
        aria-labelledby="heading{{ recipe.recipe_id }}"
        data-parent="#my-recipe-accordion"
      >
        <div class="card-body">
          <img src="/images/{{recipe.recipe_image_name}}" alt="{{recipe.title}}" />
          <p>
            {{ recipe.description }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <a
    href="{{ url_for('add_recipe') }}"
    class="btn btn-outline-success"
    role="button"
    >Add your recipe</a
  >
  {% endif %}
</section>
{% endblock %}
