{% extends 'base.html'%} {% block content %}

<section class="section-register">
  <form method="POST" action="" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }} {{
      form.username(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>A valid username is required.</span>
      </div>
    </div>
    <div class="form-group">
      {{ form.first_name.label(class="form-control-label") }} {{
      form.first_name(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>Your first name is required.</span>
      </div>
    </div>
    <div class="form-group">
      {{ form.last_name.label(class="form-control-label") }} {{
      form.last_name(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>Your last name is required.</span>
      </div>
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }} {{
      form.email(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>A valid e-mail is required.</span>
      </div>
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }} {{
      form.password(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>A valid password is required.</span>
      </div>
    </div>
    <!-- <div class="form-group">
      {{ form.confirm_password.label(class="form-control-label") }} {{
      form.confirm_password(class="form-control form-control-lg required") }}
      <div class="invalid-feedback">
        <span>Your password and confirmation password do not match.</span>
      </div>
    </div> -->
    <div class="form-check">
      {{ form.gdpr_check(class="form-check-input required") }} {{
      form.gdpr_check.label(class="form-check-label") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-success") }}
    </div>
  </form>
  {% endblock %}
</section>
