{% extends "base.html" %} {% block content %} {% include 'flash_messages.html'
%}
<section class="section-recipes">
  <div class="container">
    <div class="mt-2 text-center">
      <h1>All {{total_recipes}} vegatarian recipes</h1>
    </div>
    <hr />

    <div class="row">
      {% for recipe in recipes %}
      <div class="col-sm-12 col-md-4 my-3">
        <div class="card h-100">
          <img
            src="/images/{{recipe.recipe_image_name }}"
            class="card-img-top"
            alt="{{recipe.title}}"
          />
          <div class="card-body">
            <h4 class="card-title font-weight-bold text-truncate">
              {{recipe.title }}
            </h4>

            <p class="card-text card-text-truncate">
              {{recipe.description}}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{recipe.calories}} calories</li>
            <li class="list-group-item">{{recipe.protein}} protein</li>
            <li class="list-group-item">
              {{recipe.carbohydrates}} carbohydrates
            </li>
            <li class="list-group-item">
              {{recipe.cholesterol}} cholesterol
            </li>
          </ul>
          <div class="card-body footer-links">
            <small>
              {% if 'Meat' == recipe.category_name %}
              <a href="{{ url_for('meat_recipes') }}" class="card-link"
                >All
                <span class="text-lowercase">{{recipe.category_name}}</span>
                recipes</a
              >
              {% elif 'Seafood' == recipe.category_name %}
              <a href="{{ url_for('seafood_recipes') }}" class="card-link"
                >All
                <span class="text-lowercase">{{recipe.category_name}}</span>
                recipes</a
              >
              {% else %}
              <a href="{{ url_for('vegetarian_recipes') }}" class="card-link"
                >All
                <span class="text-lowercase">{{recipe.category_name}}</span>
                recipes</a
              >

              {% endif %}</small
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
