/* General settings */
html,
body {
  font-size: 1em;
  font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.card-text-truncate {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Navigation */
.navbar-brand img {
  height: 5vh;
}

/* Homepage banner */
.homepage-banner {
  /* Credits Pixabay user: RitaE / https://pixabay.com/nl/photos/vlees-fruit-gemuesepiess-1440105/ */
  background: url("../images/meat-1440105_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-height: 30vh;
  margin-bottom: 0;
}

.homepage-title-container {
  position: relative;
}

.header-title h1 {
  font-size: 1.75rem;
}

.header-sub-title p {
  font-size: 1rem;
}

.total-per-category {
  position: absolute;
  bottom: 10px;
}

/* Search on homepage and recipes page */
.btn_filter {
  margin-top: 2rem;
}

/* All recipes */
.footer-links {
  position: absolute;
  bottom: 0;
}

/* Single recipe */
.recipe-image img {
  width: 100%;
}

.nutrition-info ul {
  padding-left: 0;
  background: #f0f0f0;
}

.nutrition-info ul li {
  list-style: none;
  border-bottom: 1px dashed #d3d3d3;
}

/* My recipe */
.my-recipe-title .edit,
.trash {
  font-size: 1.2em;
}

/* Footer */
footer ul {
  padding-left: 0;
}

footer ul li {
  list-style: none;
}
